body {
    font-size: 12px;
}

a {
  color: black
}

.footer-body {
    width: 100%;
    position: absolute;
    left: 0;
    background-color: #f5ebe0;
    margin-top: 15px;
    font-family: Montserrat;
    box-sizing: border-box;

  }
  
  .footer-copyright {
    font-size: 0.8em;
    padding: 1.6vh;
    background-color: rgb(213, 189, 175);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;


  }

  .footer-content {
    display: flex;
    justify-content: space-between;
  }

  .footer-content-info, .footer-content-links {
    width: 37%;
    height: 100%;
  }

  .footer-content-info h3 {
  margin: 1em
  }

  .footer-content-info p {
   font-size: 0.8em;
   padding: 1.5em;
   padding-top: 0;
   text-align: justify;
    }

    .footer-content-links ul{
    list-style-type: none;
    padding-left: 15px
    }

    .footer-content-links li a{
    text-decoration: none;  
    }